<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dandelion.taskmaster">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="TaskMaster"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Taskmaster"
        tools:replace="android:appComponentFactory"
        tools:ignore="ExtraText">
        <activity
            android:name=".Settings"
            android:exported="true">
        </activity>
        <activity
            android:name=".TaskDetail"
            android:exported="true">
        </activity>
        <activity
            android:name=".AllTasks"
            android:exported="true">
        </activity>
        <activity
            android:name=".AddTask"
            android:exported="true">
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>